<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RaulLino</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="android">
        <preference name = "SplashScreen" value = "screen" />
        <preference name = "SplashScreenDelay" value = "3000" />
        <preference name = "SplashMaintainAspectRatio" value = "false" />

        <splash src="www/img/RaulLinoLogo.png" density="hdpi"/>
        <splash src="www/img/RaulLinoLogo.png" density="ldpi"/>
        <splash src="www/img/RaulLinoLogo.png" density="mdpi"/>
        <splash src="www/img/RaulLinoLogo.png" density="xhdpi"/>
        <splash src="www/img/RaulLinoLogo.png" density="xxhdpi"/>

        <splash src="www/img/RaulLinoLogo.png" density="land-hdpi" />
        <splash src="www/img/RaulLinoLogo.png" density="land-ldpi" />
        <splash src="www/img/RaulLinoLogo.png" density="land-mdpi" />
        <splash src="www/img/RaulLinoLogo.png" density="land-xhdpi" />
        <splash src="www/img/RaulLinoLogo.png" density="land-xxhdpi" />
        <splash src="www/img/RaulLinoLogo.png" density="land-xxxhdpi" />

        <splash src="www/img/RaulLinoLogo.png" density="port-hdpi" />
        <splash src="www/img/RaulLinoLogo.png" density="port-ldpi" />
        <splash src="www/img/RaulLinoLogo.png" density="port-mdpi" />
        <splash src="www/img/RaulLinoLogo.png" density="port-xhdpi" />
        <splash src="www/img/RaulLinoLogo.png" density="port-xxhdpi" />
        <splash src="www/img/RaulLinoLogo.png" density="port-xxxhdpi" /> 

        <icon src="www\img\logo.png" density="ldpi"/>
        <icon src="www\img\logo.png" density="mdpi"/>
        <icon src="www\img\logo.png" density="hdpi"/>
        <icon src="www\img\logo.png" density="xhdpi"/>
    
    </platform>
</widget>
