/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: "RaulLino";
    src: url("../RaulLinoFonte.ttf");
}

/*
    Super Classes
*/

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */

    /* prevent copy paste, to allow, change 'none' to 'text' */
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: 100%;
}

svg {
    width: 50px;
    height: 50px;
}

button {
    align-self: center;
}

/*
    Classes
*/
/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top;
    /* 170px x 200px */
    position: absolute;
    /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px;
    /* text area height */
    width: 225px;
    /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px;
    /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px;
    /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}



.bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 10px;
    z-index: 99999;
}

.event {
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.custom-popup .leaflet-popup-content-wrapper {
    background: #3f3f3f;
    color: #fff;
    opacity: 80%;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10px;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    align-items: center;
    flex-shrink: 1;


}

.custom-popup .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}

.custom-popup .leaflet-popup-tip {
    box-shadow: none;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moldura {
    height: 100%;
    width: 92%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-52%);
    padding-top: 2%;
}


.localizacao-button {
    all: unset;
    cursor: pointer;
    outline: revert;
    margin: 4px;
}

.titulo {
    font: bolder;
    font-size: 50px;
}

.subtitulo {
    font: bolder;
    font-size: 30px;
    color: #078C6B;
    margin-top: auto;
    margin-bottom: 10px;
}

.inicio{
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    vertical-align: middle;
}

.imagemI {
    width: 143px; /* Defina a largura da imagem */
    height: auto; /* Ajusta a altura proporcionalmente */
    margin-right: 10px; /* Adicione um espaçamento entre a imagem e o texto */
}
/*
    ID's
*/

#deviceready.ready .event.listening {
    display: none;
}

#deviceready.ready .event.received {
    display: block;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

#map {
    height: 70%;
    width: 100%;
    position: absolute;
}



#zoomINOUT {
    position: absolute;
    top: 0;
    z-index: 1000;
    padding: 10px;
    background-color: #272133;
    border-radius: 15px;
    margin: 20px;
}

#localizacao {
    position: absolute;
    right: 0;
    bottom: 1%;
    z-index: 1000;
    padding: 10px;
    background-color: #272133;
    border-radius: 15px;
    margin: 20px;
}

#botao {
    height: 32px;
    width: 32px;
    background-color: #fbab1f;
    border-radius: 50%;

}

#botAbrant {
    height: 32px;
    width: 32px;
    background-color: #078C6B;
    border-radius: 50%;

}



#zoomIN {
    height: 32px;
    width: 32px;
    background-color: #fbab1f;
    border-radius: 50%;
}

#zoomOUT {
    height: 32px;
    width: 32px;
    background-color: #078C6B;
    border-radius: 50%;
}

#imagem_fundo {
    position: absolute;
    height: 80%;
    width: 100%;
}

#zoom-in-button {
    all: unset;
    cursor: pointer;
    outline: revert;
}

#zoom-out-button {
    all: unset;
    cursor: pointer;
    outline: revert;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    font-family: RaulLino;
}

#barraAmarela {
    background-color: #ffd683;
    z-index: 10;
    border-radius: 10px;
    height: 4px;
    margin-bottom: 20px;
}

/*
    Mobile Layout
*/

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px;
        /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px;
        /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(to bottom, #ffffff);
    }
}

/* teste about us */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}